*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    min-height: 200vh;
}

/* Header Styles */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.7);
}

header.sticky{
    padding: 5px 100px;
    background-color: #fafafa;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fafafa;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 19px;
    text-decoration: none;
    color: #fafafa;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header ul li a:hover{
    border-bottom: 1px solid white;
}

header.sticky .logo{
    color: #000000;
}

header.sticky ul li a{
    color: #000000;
}

header.sticky ul li a:hover{
    border-bottom: 1px solid #000000;
}

/* Slider Styles */

.slider{
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}

/* About Me Styles */

#aboutMe{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 5%;
    align-items: center;
    justify-content: space-around;
    color: #fafafa;
}

#aboutMe .aboutMeImg{
    width: 100%;
    height: 100%;
    padding: 0 100px;
}

#aboutMe .aboutMeImg img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#aboutMe .aboutMeText{
    width: 100%;
    height: 100%;
}

#aboutMe .aboutMeText h1{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 25px 0;
}

#aboutMe .aboutMeText p{
    text-align: justify;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/* Skills Styles */

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.containerSkills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #fafafa;
    align-items: center;
}

.skill{
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 60px;
}

.skill img{
    width: 100%;
    height: 100%;
}

/* Projects Styles */